.header {
  min-height: 64px;
  top: 0;
  left: 0;
  color: #000;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 8px;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.header-item {
  padding-left: 16px;
  padding-right: 16px;
  height: 64px;
  width: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.1), 5px 0 16px rgba(0, 0, 0, 0.1);
}
.header-item:first-child {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.1), 5px 0 16px rgba(0, 0, 0, 0.1);
}

.header-item:last-child {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-right: 0;
  box-shadow: -4px 0 16px 8px rgba(0, 0, 0, 0.1), 5px 0 16px rgba(0, 0, 0, 0.1);
}

.header-item:hover {
  background-color: rgb(170, 150, 150);
  cursor: pointer;
  color: black;
}

@media only screen and (max-width: 1024px) {
  .header {
    min-height: 32px;
    top: 0;
    left: 0;
    width: calc(90% + 16px);
    color: #000;
    display: flex;
    justify-content: center;
    margin: auto;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1), 5px 0 16px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  }

  .header-item {
    padding-left: 4px;
    padding-right: 4px;
    max-height: 42px;
    width: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  }
}
