<div class="container">
    <p style="font-size: 2rem; margin-bottom: 8px;">Nedan finns några av våra tidigare projekt</p>
    
    <div class="horizontal-line"></div>
    
    <div class="project">
        <div class="image">
            <img src="https://placehold.co/300">
        </div>
        <div class="text">
            <p style="font-size: 2rem; margin-bottom: 8px;">Herrgård</p>
            <p style="font-size: 1.5rem;" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
    </div>
    
    <div class="horizontal-line"></div>
    
    <div class="project">
        <div class="image">
            <img src="https://placehold.co/300">
        </div>
        <div class="text">
            <p style="font-size: 2rem; margin-bottom: 8px;">Jobb hemma</p>
            <p style="font-size: 1.5rem;" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

        </div>
    </div>
</div>