<div class="container">
  <p class="small-text">Urval bilder från tidigare projekt</p>
  <div class="services">
    <div class="services">
      <figure class="service">
        <img
          src="./assets/300x300/image7.jpeg"
          width="300"
          height="300"
          alt="Vatten och Avlopp"
        />
      </figure>

      <figure class="service">
        <img
          src="./assets/300x300/image5.jpeg"
          width="300"
          height="300"
          alt="Dammar"
        />
      </figure>

      <figure class="service">
        <img
          src="./assets/300x300/image9.jpeg"
          width="300"
          height="300"
          alt="Dikning"
        />
      </figure>

      <figure class="service">
        <img
          src="./assets/300x300/image3.jpeg"
          width="300"
          height="300"
          alt="Skogsvägar"
        />
      </figure>

      <figure class="service">
        <img
          src="./assets/300x300/image6.jpeg"
          width="300"
          height="300"
          alt="Tomtplantering"
        />
      </figure>

      <figure class="service">
        <img
          src="./assets/300x300/image1.jpeg"
          width="300"
          height="300"
          alt="Trädgårdsmurar"
        />
      </figure>

      <figure class="service">
        <img
          src="./assets/300x300/image0.jpeg"
          width="300"
          height="300"
          alt="Husgrunder"
        />
      </figure>
    </div>
  </div>
</div>
