<div class="container">
  <div class="company">
    <p class="small-text">Våra tjänster</p>

    <br />
    <ul>
      <li class="very-small-text" *ngFor="let service of services">
        {{ service }}
      </li>
    </ul>
  </div>

  <div class="vertical-line"></div>

  <div class="images">
    <div class="image">
      <figure>
        <img
          class="image-scale"
          src="./assets/image8.jpeg"
          alt="Placeholder Image"
        />
      </figure>
      <div class="image">
        <figure>
          <img
            class="image-scale"
            src="./assets/image4.jpeg"
            alt="Placeholder Image"
          />
        </figure>
      </div>
    </div>
  </div>
  <div class="images"></div>
</div>
