<div class="container">
<p style="font-size: 3rem; margin-bottom: 8px;"><u>Våra tjänster</u></p>
<div class="services">
    <div class="service"> <img src="https://placehold.co/300">
        <p>Vatten och Avlopp</p></div>
    <div class="service"> <img src="https://placehold.co/300">
        <p>Fjärrvärme</p></div>
    <div class="service"> <img src="https://placehold.co/300">
        <p>Dammbygge</p></div>
    <div class="service"> <img src="https://placehold.co/300">
        <p>Vatten och Avlopp</p></div>
    <div class="service"> <img src="https://placehold.co/300">
        <p>Fjärrvärme</p></div>
    <div class="service"> <img src="https://placehold.co/300">
        <p>Dammbygge</p></div>
  </div>
</div>

  