<div class="container">
  <p style="font-size: 2rem; margin-bottom: 8px">Våra tjänster</p>

  <div class="horizontal-line"></div>
  <div class="services">
    <div class="services">
      <figure class="service">
        <img
          src="./assets/300x300/image7.jpeg"
          width="300"
          height="300"
          alt="Vatten och Avlopp"
        />
        <figcaption>Vatten och Avlopp</figcaption>
      </figure>

      <figure class="service">
        <img
          src="./assets/300x300/image5.jpeg"
          width="300"
          height="300"
          alt="Dammar"
        />
        <figcaption>Dammar</figcaption>
      </figure>

      <figure class="service">
        <img
          src="./assets/300x300/image7.jpeg"
          width="300"
          height="300"
          alt="Dikning"
        />
        <figcaption>Dikning</figcaption>
      </figure>

      <figure class="service">
        <img
          src="./assets/300x300/image7s.jpeg"
          width="300"
          height="300"
          alt="Skogsvägar"
        />
        <figcaption>Skogsvägar</figcaption>
      </figure>

      <figure class="service">
        <img
          src="./assets/300x300/image6.jpeg"
          width="300"
          height="300"
          alt="Tomtplantering"
        />
        <figcaption>Tomtplantering</figcaption>
      </figure>

      <figure class="service">
        <img
          src="./assets/300x300/image1.jpeg"
          width="300"
          height="300"
          alt="Trädgårdsmurar"
        />
        <figcaption>Trädgårdsmurar</figcaption>
      </figure>

      <figure class="service">
        <img
          src="./assets/300x300/image0.jpeg"
          width="300"
          height="300"
          alt="Husgrunder"
        />
        <figcaption>Husgrunder</figcaption>
      </figure>

      <figure class="service">
        <img
          src="./assets/300x300/image6s.jpeg"
          width="300"
          height="300"
          alt="Dränering"
        />
        <figcaption>Dränering</figcaption>
      </figure>
    </div>
  </div>
</div>
