.container{
    padding:26px;
}
.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    gap: 10px; /* Adjust the gap between items as needed */
}
.service{
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
}
