.container {
  padding-top: 16px;
  margin: 0 16px 16px 16px;
}
.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  gap: 10px; /* Adjust the gap between items as needed */
  margin: auto;
  justify-content: center;
}
.service {
  padding: 20px;
  text-align: center;
}

.horizontal-line {
  height: 2px;
  background-color: #333; /* Adjust the color as needed */
  width: 100%; /* Adjust the height as needed */
}

@media only screen and (max-width: 1024px) {
  .services {
    grid-template-columns: 1fr; /* Set a single column layout for smaller screens */
  }
}
