<div class="container">
  <p class="small-text">Kontaktinformation</p>
  <div class="horizontal-line"></div>
  <br />
  <br />
  <div class="contact-info">
    <p class="small-text">
      <span class="label">Email:</span>
      <span class="value">lehultskogstjanst@gmail.com</span>
    </p>
    <div class="horizontal-line"></div>

    <p class="small-text">
      <span class="label">Tlfn mobil:</span>
      <span class="value">073-430 64 50</span>
    </p>
    <div class="horizontal-line"></div>

    <p class="small-text">
      <span class="label">Tlfn Arbete:</span>
      <span class="value">073-430 64 50</span>
    </p>
    <div class="horizontal-line"></div>

    <p class="small-text">
      <span class="label">Adress:</span>
      <span class="value">Lehult 5001 23 282 67 Vittsjö</span>
    </p>
    <div class="horizontal-line"></div>

    <p class="small-text">
      <span class="label">Fax:</span>
      <span class="value"> 123456789</span>
    </p>
  </div>
</div>
