<div class="container">
  <p class="small-text">Kontaktinformation</p>
  <div class="horizontal-line"></div>
  <br />
  <br />
  <div class="contact-info">
    <p class="small-text">
      <span class="label">Email:</span>
      <span class="value">lehultsskogstjanst@gmail.com</span>
    </p>
    <div class="horizontal-line"></div>

    <p class="small-text">
      <span class="label">Telefon:</span>
      <span class="value">073-430 64 50</span>
    </p>

    <div class="horizontal-line"></div>

    <p class="small-text">
      <span class="label">Adress:</span>
      <span class="value">Lehult 5001 282 68 Vittsjö</span>
    </p>
    <div class="horizontal-line"></div>
  </div>
</div>
