

.text-card{
width: calc(100% - 90px);;
box-sizing: border-box;
margin:auto;

padding:32px;
}

.image-card{
margin:auto;
margin-top:16px;
height: 100%; /* Set the desired height */
box-sizing: border-box;
}