.start-section {
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(135deg, #bcffab9f 10%, #abffc7 100%);
}
.container {
  background-color: rgb(248, 243, 238);
  width: 60%;
  min-height: calc(100vh - 116px);
  margin: auto;
  box-shadow: -5px 0 16px rgba(0, 0, 0, 0.1), 5px 0 16px rgba(0, 0, 0, 0.1);
}
