.start-section {
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.container {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  width: 60%;
  margin: auto;
  box-shadow: -5px 0 16px rgba(0, 0, 0, 0.1), 5px 0 16px rgba(0, 0, 0, 0.1);
  padding-bottom: 8px;
}

/* Media query for screens with a maximum width of 640 pixels (typical for mobile devices) */
@media only screen and (max-width: 1024px) {
  .start-section {
    width: 100vw;
    max-width: 100%;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  }

  .container {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    width: 90%;
    padding: 8px;
    margin: auto;
    box-shadow: -5px 0 16px rgba(255, 32, 32, 0.1),
      5px 0 16px rgba(0, 0, 0, 0.1);
  }
}
