<div class="container">
    <div class="company">
        <p style="font-size: 2rem;" >Vi är Lehults Skogtjänst </p>
        <br>
        <p style="font-size: 1.5rem;" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        <p style="font-size: 1.5rem;" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    </div>

    <div class="vertical-line"></div>


    <div class="workers">
        <p style="font-size: 2rem;" >Våra anställda </p>
        <div class="worker">
            <img src="https://placehold.co/200">
            <p>Ronny Aronsson</p>
            <p>VD</p>
            <p>Flera års erfarenhet inom grävning</p>
            <p>tlfn:(+46)70-471 95 51</p>
        </div>
        
        <div class="worker">
            <img src="https://placehold.co/200">
            <p>Bengt Bengtsson</p>
            <p>Grävare</p>
            <p>Flera års erfarenhet inom grävning</p>
            <p>tlfn:(+46)70-471 95 51</p>
        </div>
    </div>

</div>