<div class="container">
  <div class="company">
    <p style="font-size: 2rem">Vi är Lehults Skogtjänst</p>

    <br />
    <p style="font-size: 1.5rem">
      Lehult Skogstjänst är ett företag som under många år har utfört olika
      skogstjänster. Vi utför idag även det mesta inom gräv- och
      anläggningsarbete. Vår personal har cirka 30 års erfarenhet av både
      skogsarbete och entreprenadtjänster.
    </p>
    <br />
    <p style="font-size: 1.5rem">
      Vi har flera egna maskiner och även sammarbete med andra entrepenörer för
      att kunnda erbjuda så många tjänste som möjligt.
    </p>
  </div>

  <div class="vertical-line"></div>

  <div class="images">
    <div class="image">
      <figure>
        <img src="https://placehold.co/400x300" alt="Placeholder Image" />
        <figcaption>Bild på ett utfört arbete.</figcaption>
      </figure>
      <div class="image">
        <figure>
          <img src="https://placehold.co/400x300" alt="Placeholder Image" />
          <figcaption>En av våra maskiner.</figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
